.burger-btn {
  display: none;
}

.body-fixed {
  overflow: hidden;
}

.burger {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: 0.5s;
  transition: all 0.5s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 70%;
  height: 100%;
  background-color: #f5f9f9;
  overflow-y: auto;
  transition: transform 0.3s linear;
}

.burger_open .burger__content {
  transform: translate(0);
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .burger-nav-wrapper {
    display: flex;
    flex-direction: column;
  }

  .burger-btn {
    display: block;
    background: none;
    border: none;
    width: 34px;
    height: 34px;
    background-image: url(../assets/mainscreen/btn-burger-menu.svg);
    background-size: contain;
  }

  .burger-btn:hover {
    transform: rotate(360deg);
    transition: 0.3s;
  }

  .burger-logo-img {
    width: 57px;
    height: 51px;
  }

  .burger__nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .burger__nav-link {
    font-size: 18px;
    line-height: 120%px;
    color: #121212;
    text-decoration: none;
    transition: 0.5s;
  }

  .burger__nav-link:hover {
    border-bottom: 1px solid;
    color: #000000;
  }

  .burger-footer {
    display: flex;
    flex-direction: column;
  }

  .burger-contact-links {
    display: flex;
    flex-direction: column;
  }

  .burger-app-links {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  .burger-app-links img {
    width: 20px;
    height: 20px;
  }

  .burger-app-links a {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    width: 100%;
    height: 35px;
  }

  .burger-app-links p {
    margin-left: 3px;
    font-size: 8px;
  }

  .burger-app-links span {
    display: block;
    font-family: "SFpro700";
    font-size: 10px;
    letter-spacing: 0.03em;
  }

  .burger-privacy {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .burger-privacy div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
