.cta {
  margin-top: 100px;
  padding: 94px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/cta/cta-bg1.png),
    url(../assets/cta/cta-bg2.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
}

.cta div {
  margin-top: 60px;
}

.cta a {
  padding: 5px 20px 5px 30px;
  width: 200px;
}

/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */
@media (max-width: 768px) {
  .cta {
    margin: 60px 0;
    padding: 34px 0;
    background-size: contain;
  }

  .cta div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cta a {
    width: 200px;
    height: 45px;
  }

  .cta img {
    width: 40px;
    height: 40px;
  }

}

/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 450px) {
  .cta {
    margin-top: 40px;
    padding: 94px 0;
    height: 100%;
    background-image: url(../assets/cta/cta-bg-375px.png);
    background-size: cover;
    background-position: center;
  }

  .cta div {
    margin-top: 30px;
    width: 100%;
    align-items: center;
  }

  .cta a {
    width: 180px;
    height: 45px;
    gap: 5px;
  }

  .cta img {
    width: 40px;
    height: 40px;
  }
}
