.inactive {
    pointer-events: none;
    filter: grayscale(100%);
}
@media (max-width: 768px) {
    .app-links.column {
        flex-direction: column;
        align-items: center;
    }

    .app-links.column a {
        width: 170px;
    }
}