.feedback {
  margin-top: 100px;
  display: flex;
  /* justify-content: center;
  flex-wrap: wrap; */
  flex-direction: column;

}

.feedback-first-row {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.feedback-second-row {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.feedback-item {
  display: flex;
  height: 270px;
  gap: 20px;
}

.avatar {
  width: 125px;
  height: 125px;
  align-self: flex-end;
}

.text-block {
  padding: 0 40px;
  width: 600px;
  background-image: url(../assets/feedback/feedback-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.text-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.feedback-date {
  margin-top: 5px;
}

.feedback-title {
  margin-top: 15px;
  font-family: "Montserrat700";
}

.feedback-text {
  margin-top: 5px;
  font-family: "Montserrat200";
  font-size: 14px;
}

/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */
@media (max-width: 768px) {
  .feedback {
    margin-top: 40px;
    flex-direction: row;
    
  }
  
  .feedback-first-row {
      display: flex;
      gap: 35px;
      justify-content: ;
  }
  
  .feedback-second-row {
      display: flex;
      gap: 35px;
  }
  
  .feedback-item {
    display: flex;
    height: 270px;
    gap: 20px;
  }
  
  .avatar {
    width: 125px;
    height: 125px;
    align-self: flex-end;
  }
  
  .text-block {
    padding: 0 40px;
    width: 600px;
    background-image: url(../assets/feedback/feedback-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .text-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  
  .feedback-date {
    margin-top: 5px;
  }
  
  .feedback-title {
    margin-top: 15px;
    font-family: "Montserrat700";
  }
  
  .feedback-text {
    margin-top: 5px;
    font-family: "Montserrat200";
    font-size: 14px;
  }
}



/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */

@media (max-width: 375px) {
  .feedback {
    margin-top: 100px;
    position: relative;
  }
  
  .feedback-first-row {
      display: flex;
      gap: 40px;
      justify-content: center;
  }
  
  .feedback-second-row {
      display: flex;
      gap: 40px;
  }
  
  .feedback-item {
    display: flex;
    height: 270px;
    gap: 20px;
  }
  
  .avatar {
    width: 125px;
    height: 125px;
    align-self: flex-end;
  }
  
  .text-block {
    padding: 0 40px;
    width: 600px;
    background-image: url(../assets/feedback/feedback-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .text-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  
  .feedback-date {
    margin-top: 5px;
  }
  
  .feedback-title {
    margin-top: 15px;
    font-family: "Montserrat700";
  }
  
  .feedback-text {
    margin-top: 5px;
    font-family: "Montserrat200";
    font-size: 14px;
  }
}