footer {
  background-color: #f5f9f9;
  box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.1);
}

.footer {
  margin-top: 100px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.provisions {
  display: flex;
  align-items: end;
  gap: 30px;
}

.provisions a:hover {
    text-decoration: underline;
}

.privacy {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-links {
  display: flex;
  gap: 30px;
}

.contact-links a {
  transition: transform 0.7s ease;
}

.contact-links a:hover {
  transform: scale(1.1);
}

.links-wrapper {
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.footer-cta {
  align-content: center;
}


/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */


@media (max-width: 768px) {
  .footer {
    margin-top: 40px;
    padding: 15px 0;
  }

  .privacy p {
    font-size: 10px;
  }

  .privacy a {
    font-size: 10px;
  }
  
  .contact-links {
    gap: 24px;
  }
}


/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 450px) {
  .footer {
    margin-top: 40px;
    padding: 20px 0;
    flex-direction: column;
    gap: 20px;
  }
  
  .provisions {
    align-items: baseline;
    gap: 12px;
    justify-content: space-between;
  }
  
  .contact-links {
    justify-content: space-between;
    order: -1;
  }
  
  .links-wrapper {
    margin-top: 8px;
    display: flex;
    gap: 12px;
  }
}
