.nav-bar {
  margin-top: 20px;
  display: flex;
  padding: 10px 0;
  width: 100%;
  height: 98px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar div {
  display: flex;
  gap: 40px;
}

.nav-bar img {
  width: 88px;
  height: 78px;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  font-family: "Montserrat400";
  font-size: 16px;
  line-height: 150%;
  transition: transform 0.3s ease;
  display: inline-block;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.dwn-link {
  padding: 12px 68px;
  text-align: center;
  background-color: #fbd24c;
  border-radius: 30px;
}

.dwn-link:hover {
  background-color: #fcd861;
}

.mainscreen {
  display: flex;
  justify-content: space-between;
}

.main-textblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 540px;
}

.main-textblock h6 {
  margin-top: 10px;
}

.main-textblock p {
  margin-top: 10px;
  font-family: "Montserrat200";
  font-weight: 200;
  font-size: 16px;
}

.mainscreen img {
  max-width: 100%;
  height: auto;
  display: block;
}

.app-links {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.app-links a {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  width: 190px;
  height: 50px;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.app-links a:hover {
  transform: scale(1.1);
}

.appstore-link {
  background-color: #fbd24c;
}

.playmarket-link {
  background-color: #7cd5dc;
}

.app-links img {
  width: 35px;
  height: 35px;
}

.app-links p {
  margin-top: 0;
  font-family: "SFpro400";
  font-size: 12px;
  letter-spacing: 0.04em;
}

.app-links span {
  display: block;
  font-family: "SFpro700";
  font-size: 16px;
  letter-spacing: 0.03em;
}

.proses {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  width: 333px;
}

.proses-item {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  border-right: 1px solid black;
}

.proses-item:last-child {
  border-right: none;
}

.proses-item p {
  margin-top: 0;
  font-family: "Montserrat700";
  font-size: 20px;
  text-align: center;
}

.proses-item span {
  font-family: "Montserrat400";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3d8292;
}

@media (max-width: 1280px) {
  .nav-links {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .nav-links {
    gap: 15px;
  }

  .nav-bar img {
    width: 70px;
    height: auto;
  }

  .dwn-link {
    padding: 8px 30px;
  }
}


/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */

@media (max-width: 768px) {
  .nav-bar {
    margin-top: 10px;
    height: 51px;
  }
  
  .nav-bar img {
    width: 57px;
    height: 51px;
  }
  
  .nav-links {
    gap: 12px;
  }
  
  .nav-links a {
    font-size: 10px;
  }
  
  .dwn-link {
    padding: 10px 24px;
  }
  
  .main-textblock {
    width: 320px;
  }
  
  .main-textblock p {
    font-size: 10px;
  }
  
  .app-links {
    margin-top: 20px;
  }
  
  .app-links a {
    padding: 5px 12px;
    width: 132px;
    height: 35px;
  }
  
  .app-links img {
    width: 30px;
    height: 30px;
  }
  
  .app-links p {
    font-size: 10px;
  }
  
  .app-links span {
    font-size: 12px;
  }
  
  .proses {
    margin-top: 20px;
  }
  
  .proses-item p {
    font-size: 18px;
  }
  
  .proses-item span {
    font-size: 12px;
  }
}


/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 375px) {
  
  .mainscreen {
    margin-top: 50px;
   flex-direction: column;
  }
  
  .main-textblock {
    /* justify-content: center; */
    max-width: 340px;
  }
  
  .mainscreen img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .app-links {
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .app-links a {
    width: 100%;
    height: 35px;
  }
  
  .app-links span {
    font-size: 12px;
  }
  
  .proses {
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
  }
  
  .proses-item {
    padding-right: 15px;
  }
  
  .proses-item p {
    font-size: 18px;
  }
  
  .proses-item span {
    font-size: 12px;
  }

  .mainscreen-img {
    width: 100%;
  }
}