.news {
  margin-top: 100px;
}

.news-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.news-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.news-item div {
  display: flex;
  flex-direction: column;
}

.news-item h6 {
  margin-top: 10px;
}

.news-date {
  opacity: 0.7;
}

.news-text {
  margin-top: 5px;
}


/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */
@media (max-width: 768px) {
  .news {
    margin-top: 60px;
  }

  .news-wrapper {
    margin-top: 20px;
  }

  .news-item {
    gap: 15px;
  }

  .news-item h6 {
    margin-top: 8px;
    font-size: 18px;
  }
}


/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 375px) {
  .news {
    margin-top: 20px;
  }
  
  .news-wrapper {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
  
  .news-item {
    gap: 12px;
  }
  
  .news-item img {
    max-height: 132px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .news-item h6 {
    margin-top: 5px;
  }
  
  .news-text {
    margin-top: 3px;
  }
}