.registration {
  margin-top: 100px;
}

.registration-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.registration-content a {
  font-family: "Montserrat400";
  font-size: 16px;
  color: #3d8292;
  transition: transform 0.3s ease;
  display: inline-block;
}

.registration-content a:hover {
  transform: scale(1.1);
}

.reg-content-items {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reg-item-left {
  display: flex;
  padding-left: 50px;
  align-items: center;
  gap: 60px;
  height: 200px;
  background-image: url(/assets/registration/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reg-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.reg-item-right {
  display: flex;
  padding-right: 50px;
  flex-direction: row-reverse;
  align-items: center;
  text-align: end;
  gap: 60px;
  height: 200px;
  background-image: url(/assets/registration/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.big-circle {
  height: 240px;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 375px) {
  .registration-content {
    flex-direction: column;
    align-items: center;
  }

  .reg-item-img {
    order: -1; /* Ставим изображение на первое место */
  }

  .reg-content-items {
    order: 1; /* Ставим reg-content-items ниже */
    flex-direction: column;
    align-items: center;
  }

  .reg-item-left,
  .reg-item-right {
    padding: 0;
    width: 100%;
    justify-content: center;
  }
}
