.registration {
  margin-top: 100px;
}

.registration-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.registration-content a {
  font-family: "Montserrat400";
  font-size: 16px;
  color: #3d8292;
  transition: transform 0.3s ease;
  display: inline-block;
}

.registration-content a:hover {
  transform: scale(1.1);
}

.reg-content-items {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reg-item-left {
  display: flex;
  padding-left: 50px;
  align-items: center;
  gap: 60px;
  height: 200px;
  background-image: url(../assets/registration/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reg-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.reg-item-right {
  display: flex;
  padding-right: 50px;
  flex-direction: row-reverse;
  align-items: center;
  text-align: end;
  gap: 60px;
  height: 200px;
  background-image: url(../assets/registration/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.big-circle {
  height: 240px;
}

/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */
@media (max-width: 768px) {
  .registration {
    margin-top: 60px;
  }

  .registration-content {
    margin-top: 20px;
  }

  .registration-content a {
    font-size: 10px;
  }

  .reg-content-items {
    width: 33%;
    justify-content: space-between;
  }

  .reg-item-img {
    width: 33%;
  }

  .reg-item-left {
    padding-left: 36px;
    height: 120px;
    gap: 10px;
  }

  .reg-item-right {
    padding-right: 36px;
    gap: 10px;
    height: 120px;
  }

  .big-circle {
    height: 140px;
  }
}

/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 375px) {
  .registration {
    margin-top: 40px;
  }

  .registration-content {
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .reg-content-items {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 12px;
  }

  .reg-item {
    flex-direction: column;
    gap: 12px;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .big-circle {
    height: 130px;
    width: 130px;
  }

  .reg-content-items {
    gap: 5px;
    order: 1;
  }

  .reg-content-items p {
    width: 250px;
  }

  .reg-item-left {
    padding-left: 20px;
    gap: 12px;
    height: 110px;
    width: 100%;
    text-align: start;
  }

  .reg-item-img {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1;
  }

  .reg-img {
    max-width: 220px;
    height: auto;
    display: block;
  }

  .reg-item-right {
    padding-left: 20px;
    background-position-x: left;
    gap: 12px;
    height: 110px;
    width: 100%;
    flex-direction: row;
    text-align: start;
  }

  .reg-item-left:nth-child(2),
  .reg-item-right:nth-child(2) {
    height: 130px;    
    padding-right: 20px;
    flex-direction: row-reverse;
    background-position-x: right;
    text-align: end;
  }
}
