.usage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.usage-step {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.usage-img {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 16px 16px -10px rgba(0, 0, 0, 0.1);
}

.usage-dscrpt {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  gap: 30px;
  background-image: url("../assets/usage/circle.png");
  background-repeat: no-repeat;
  background-size: 37px 37px;
  background-position: top left;
}

.usage-dscrpt p {
  margin-left: 10px;
  border-left: 1px solid black;
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .usage-img {
    max-width: 360px;
  }
}

/* СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА    СТИЛИ ДЛЯ ПЛАНШЕТА */
@media (max-width: 768px) {
  .usage {
    margin-top: 60px;
  }

  .usage-step {
    margin-top: 20px;
  }

  .usage-img {
    max-width: 260px;
  }

  .usage-dscrpt {
    max-width: 365px;
    gap: 20px;
  }

  .usage-dscrpt p {
    font-size: 12px;
  }
}

/* СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ    СТИЛИ ДЛЯ СМАРТФОНОВ */
@media (max-width: 375px) {
  .usage {
    margin-top: 60px;
  }

  .usage-step {
    margin-top: 20px;
    flex-direction: column;
  }

  .usage-img {
    max-width: 220px;
    order: -1;
  }

  .usage-dscrpt {
    gap: 14px;
    background-size: 18px 18px;
  }

  .usage-dscrpt p {
   font-size: 12px;
  }
}
